<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Data visualization</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="#">bar chart</a></li>
      <li ><a href="#">line chart</a></li>
      <li ><a href="#">comparative chart</a></li>
      <li ><a href="#">other charts</a></li>
    </ul>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle">Assad zakir <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Load</a></li>
          <li><a href="#">Save</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.container-fluid -->
</nav>
