<div class="row">
  <div class="col-md-6">
    <h2>D3 bar chart</h2>
    <app-d3bar-chart *ngIf="chartData" [data]="chartData"></app-d3bar-chart>
  </div>
  <div class="col-md-6">
    <h2>D3 bar chart</h2>
    <app-d3bar-chart *ngIf="chartData" [data]="chartData"></app-d3bar-chart>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h2>D3 bar chart</h2>
    <app-d3bar-chart *ngIf="chartData" [data]="chartData"></app-d3bar-chart>
  </div>

  <div class="col-md-6">
    <h2>D3 bar chart</h2>
    <app-d3bar-chart *ngIf="chartData" [data]="chartData"></app-d3bar-chart>
  </div>

</div>
