<div class="row">
  <div class="col-md-6">
    <h2>VisJs Transaction flow chart</h2>
    <app-vis-transaction-flow></app-vis-transaction-flow>

  </div>
  <div class="col-md-6">
    <h2>VisJs Transaction flow chart</h2>
    <app-vis-transaction-flow></app-vis-transaction-flow>

  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h2>VisJs Transaction flow chart</h2>
    <app-vis-transaction-flow></app-vis-transaction-flow>


  </div>

  <div class="col-md-6">
    <h2>VisJs Transaction flow chart</h2>
    <app-vis-transaction-flow></app-vis-transaction-flow>
  </div>

</div>
