<div class="row">
  <div class="col-md-6">
    <h2>GoJs Transaction flow chart</h2>
    <app-transaction-flow></app-transaction-flow>

  </div>
  <div class="col-md-6">
    <h2>GoJs Transaction flow chart</h2>
    <app-transaction-flow></app-transaction-flow>

  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h2>GoJs Transaction flow chart</h2>
    <app-transaction-flow></app-transaction-flow>

  </div>

  <div class="col-md-6">
    <h2>GoJs Transaction flow chart</h2>
    <app-transaction-flow></app-transaction-flow>
  </div>

</div>
